NODE_ENV=development
PORT=8080
MONGODB_URI=mongodb://localhost:27017/supertexmills
CLIENT_URL=http://localhost:3000

JWT_ACCESS_SECRET=hFu6UqN7d-NloC8mnXFA32lQ66Z827P-Qq5GHrOyXuofVPQp_BN_KiOhzrnCSUeXW6tAfcDGlI9a6dVUR1aDlg
JWT_REFRESH_SECRET=cKG9P9i2zSktHvBpsNbstrHlEAfhte9y7xR8BgMofFtoVE-6dK1ML3O9W_Sq2j2zJbT265g1xYdZYELKP5O8aQ
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SEED_SUPERADMIN_USERNAME=superadmin
SEED_SUPERADMIN_EMAIL=super@company.com
SEED_SUPERADMIN_PASSWORD=ChangeMe123!
